@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

/*@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    
}*/

:root {
    --cor0: #c6ebf4;
    --cor1: #90D1F9;
    --cor2: #45B3F7;
    --cor3: #378EC4;
    --cor4: #225778;
    --cor5: #225778;
    --cor6: #ffffff; /* branco*/
    --cor7: #000000; /* preto*/
    --cor8: #12374f;



    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'babylonica', cursive;
    --font-family: 'Babylonica', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}



header {
    
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor7));
    padding-top: 40px;
    text-align:center;
    min-height: 150px;

}

header > h1 {
    color: var(--cor6);
    font-family: var(--font-family);
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 4.5em;
    font-weight: normal;
    text-shadow: 4px 4px 0px  rgba(0, 0, 0, 0.261);
    
}

header > p {
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    font-size: 1.1em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px  rgba(0, 0, 0, 0.278);
    padding-bottom: 50px;
}

header >p > strong {
    font-family: var(--fonte-padrao);
    font-size: em;
}

nav {
    background-color: var(--cor7);
    padding-bottom: 20px;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.315);
}

nav > a {
    color: var(--cor0);
    text-decoration:none;
    font-size: 1em;
    padding: 13px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav  > a:hover {
    background-color: var(--cor5);
    color: var(--cor7);
    border-radius: 10px;
}


main {
    background-color: var(--cor6);

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


main h1 {
    color:var(--cor5);
    font-family:var(--fonte-padrao);
    font-weight: normal;
}

main h2 {
    font-family: var(--font); 
    color: var(--cor6);
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor2), var( --cor7));

    /*text-indent: px; pode ser colocado para afastar a letra do inicio ou seja, indentização*/
}

main h3 {
    text-align: justify;
    color: var(--cor5);
}


main  p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 70px;
    font-size: 1.0em;
    line-height: 2em;

}

main strong {
    color: var(--cor4);
    font-weight: bold; 
    font-size: 1.1em;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px ;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor6);
}

main img {
   width: 100% ;
   padding-top: 10px;
}

main img.pequena {
   max-width: 350px;
   margin: auto;
}

Picture  img {
    
    background-color: var(--cor);
    padding-top: 0%;

    margin-top: 10px;
    margin-bottom: -10px;
    width: 70%;
    background-image: linear-gradient(to right, var(--cor6), transparent);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.368);
}


div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.368);
}
aside > h3 {
    background-color: var(--cor4);
    color: var(--cor6);
    padding: 12px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    font-family: var(--fonte-padrao);
    font-size: .5em;
}

footer {
    background-color: var(--cor5);
    color: var(--cor6);
    min-height: 40px;
}

footer p {
    font-family: var(--fonte-padrao);
    text-align: center;
   padding: 10px;
   font-size: .7em;
}

footer a {
    color: var(--cor3);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
}

footer a:hover {
    color: var(--cor6);
    text-decoration: underline;
    

}